<!-- fragment 2 start -->
<table class="w-full">
  <tr>
    <td
      class="px-5 py-8 sm:pt-6 sm:pb-8 bg-[#F0F5F5] flex justify-center w-full"
    >
      <table class="border-0 w-full">
        <tr>
          <td class="text-center text-xl text-[#005555] font-semibold">
            Sint cupidatat occaecat ut
          </td>
        </tr>
        <tr>
          <td class="pt-9">
            <table class="w-full">
              <tr>
                <td
                  class="p-6 bg-white shadow-sm w-[48%] sm:inline-block text-center mob-view"
                >
                  <table class="w-full">
                    <tr>
                      <td class="w-[100px] align-middle">
                        <x-image
                          class="w-[100px]"
                          imgUrl="circle-img.png"
                          href="#"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-center text-base text-[#005555] font-semibold pt-4"
                      >
                        Nisi ut ade
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center text-base pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam<sup>1</sup>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="w-[4%] sm:mt-5 sm:inline-block mob-view"></td>
                <td
                  class="p-6 bg-white shadow-sm w-[48%] sm:inline-block text-center mob-view"
                >
                  <table class="w-full">
                    <tr>
                      <td class="w-[100px] align-middle">
                        <x-image
                          class="w-[100px]"
                          imgUrl="circle-img.png"
                          href="#"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-center text-base text-[#005555] font-semibold pt-4"
                      >
                        Duis aute irure
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center text-base pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam<sup>2</sup>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment 2 end -->
