<table class="w-full">
  <tr>
    <td class="bg-white pt-8 pb-5 px-5">
      <table class="border-0">
        <tr>
          <td class="text-sm font-semibold text-black">Ut enim ad minim:</td>
        </tr>
        <tr>
          <td class="text-sm pt-3 text-black">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr>
          <td class="text-sm pt-3 text-black">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </td>
        </tr>
        <tr>
          <td class="text-sm font-semibold pt-7 pb-3 text-black">
            sint occaecat cupidatat:
          </td>
        </tr>
        <tr>
          <td class="pb-6">
            <table>
              <tr>
                <td class="text-sm w-[17px] align-top text-black">1.</td>
                <td class="text-sm text-black">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </td>
              </tr>
              <tr>
                <td class="text-sm w-[17px] align-top text-black">2.</td>
                <td class="text-sm text-black">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="border-t-[1px] border-solid border-[#002B2B]"></td>
        </tr>
        <tr>
          <td class="text-sm pt-6 pb-5 text-center text-black">
            sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <x-image class="w-28 max-w-28" imgUrl="image-2.png" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
