<table class="w-full">
  <tr>
    <td class="px-5 pt-5">
      <table>
        <tr>
          <td class="w-[110px] align-middle">
            <x-image class="w-[110px]" imgUrl="image-2.png" href="#" />
          </td>
          <td
            class="align-items: center; align-middle flex pl-[23px] pr-20 text-[12px] text-[#002B2B] sm:pl-4 sm:pr-0 pt-2 sm:pt-0"
          >
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
